body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f2f2f2;
}

#deals {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  position: relative;
  background-color: #fdf5e6;
  width: 200px;
  margin: 7px;
  padding: 10px;
  border: 1px solid orange;
  background-color: #fdf5e6;
}

.card:hover {
  background-color: orange;
  border: 1px solid black;
}

.card-header {
  text-align: top;
}

.card-footer {
  /* position: absolute; */
  /* bottom: 0; */
}

.card-image {
  padding-bottom: 10px;
}

.condition {
  position: absolute;
  bottom: 0;
}
.pricing {
  position: absolute;
  bottom: 0;
  right: 10px;
}

a {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

#fetch-more {
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid orange;
  background-color: #fdf5e6;
  text-align: top;
  padding: 10px;
}

#fetch-more:hover {
  background-color: orange;
  color: white;
}

.loader {
  display: inline-block;
  margin: 0px;
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid orange;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.hidden {
  visibility: hidden;
}

#actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
